*{
    padding: 0, ;
    margin: 0;
    font-size: 3.2rem;
}

body{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#container{
    border-radius: .75rem;
    height: 10rem;
    width: 27rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem; 
}

.clock{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;

    background-color: rgb(0, 0, 0,0.4);
    color: white;
    border-radius: 1.25rem;

    font-size: 1.25rem;
    width: 7rem;
    height: 7rem;
    gap: .1rem;
    
}

.time{
    font-size: .75rem;
    line-height: 1.1;
}

.binary{
    color: rgb(255,255,255,0.5);
    font-size: .35rem;
}

.hex{
    color: rgb(255,255,255,0.5);
    font-size: .35rem;
}

@media (max-width: 70rem){
    *{
        font-size: 3.2rem;
    }

    body{
        min-height: 100vh;
        width: 100%;
        align-items: center;
        display: flex;
        justify-content: flex-start;
        align-content: flex-start;
        flex-direction: column;
    }

    #container{
        height: 10rem;
        width: 30rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        box-shadow: 0.05rem -.05rem .2rem .2rem rgb(0, 0, 0, 0.3);
        backdrop-filter: blur(.75rem);
        border-radius: .75rem;
        
    }

    .clock{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
    
        background-color: rgb(0, 0, 0,0.4);
        color: white;
        border-radius: 1.25rem;
    
        font-size: 1.25rem;
        width: 7rem;
        height: 7rem;
        gap: .1rem;
        
    }
}